@charset "UTF-8";

/* 
    Paleta de Cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/predio.jpg) no-repeat;
    background-size: cover;
    height: 200px;
}

section#login > div#form {
    display: block;
    padding: 10px;
    
}

form > div.campo {
    background-color: #5f2c82;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: white;
    font-size: 1.7em;
    width: 40px;
    padding: 5px;
}

input#usuario, input#senha {
    border-radius: 8px;
    margin-top: 10px;
    background-color: #57bdba;
    padding: 4px;
    height: 100%;
    width: calc(100% - 35px);
    transform: translate(36px, -47px);
}

input#usuario:focus-within, input#senha:focus-within {
    background-color: white;
}

input#btn {
    display: block;
    font-size: 1em;
    margin-top: 3px;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 9px;
    background-color: #49a09d;
    color: white;
    cursor: pointer
}

input#btn:hover {
    background-color: #336f6e;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    margin-top: 3px;
    padding-top: 4px;
    width: 100%;
    height: 30px;
    border-radius: 9px;
    border: 1px solid #49a09d;
    background-color: white;
    color: #49a09d;
    cursor: pointer;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #6ae7e2;
}
form > a.botao > i {
    font-size: 0.8em;
}

div#form > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#form > p {
    font-size: 0.8em;
    text-align: justify;
}